:root {
    --transparent-bg: hsla(0, 0%, 0%, 0.4);
    --content-font: font-family: Georgia, 'Times New Roman', Times, serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(./courtyard.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
}
nav {
    display: flex;
    justify-content: center;
}
nav button {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--transparent-bg);
    border: 1px solid var(--transparent-bg);
    color: white;
    border-style: none;
    font-family: var(--content-font);
}
nav button:hover {
    border-color: white;
    background-color: white;
    color: var(--transparent-bg);
}
#container {
    display: flex;
    align-items: center;
    height: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    background-color: var(--transparent-bg);
    color: white;
    font-family: var(--content-font);
    min-height: 55%;
    width: 60vw;
    border-radius: 1rem;
    text-align: center;
    justify-content: space-between;
    padding: 1rem 15%;
}
#content-header {
    border-bottom: 3px solid white;
    border-bottom-style: dashed;
}
#content h1 {
    font-size: 2.5em;
}
#content div.about {
    font-size: 1.6rem;
}
#content>div {
    margin: 0.5rem;
}
#content h2 {
    font-size: 2em;
    margin-bottom: 0.5rem;
}
#content p {
    font-size: 1.2em;
}
footer, footer>a {
    color: white;
    font-family: var(--content-font);
}